/* Styles for About */
.cast-wiki-logo {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 60vw;
    max-width: 900px;
    height: auto;
    background: none;
    box-shadow: none;
    border: none;
    scale: 1;

}

/* .spacer-1000 {
    display: block;
    height: 100000px;
    background: linear-gradient(red, blue);
} */

.github-cards-div {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    /* horizontal centering */

    /* Optional: also center vertically on the page */
    /* min-height: 100vh;
    justify-content: center; */
}

.github-card {
    /* display: block;
    margin: 0 auto; */
    /* centers fixed-width cards */
    /* width: 1000px; */
    /* keep if desired */
    /* height: 100px !important; */
}