* {
    margin: 0;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease;
}

p,
h1,
h2,
h3,
.wikilink {
    color: var(--text-color) !important;
    font-family: sans-serif !important;
}




[data-theme="light"] {
    --accent: #4285F4;
    --top-button-selected: #4285F4;
    --text-color: black;
    --background: white;
    --primary: black;
    --selected-color: gainsboro;
    --border-color: #dbdbdb;
    font-family: sans-serif;
}

[data-theme="dark"] {
    --accent: #4285F4;
    --top-button-selected: #4285F4;
    --text-color: #dfdfdf;
    --background: #14161c;
    --primary: black;
    --selected-color: #3f475c;
    --border-color: #282d3b;

}

p {
    font-size: larger;
}

/* --background: rgb(36, 39, 46); */