* {
    margin: 0;
}

p,
h1,
h2,
h3,
.wikilink {
    color: var(--text-color) !important;

}




:root {
    --accent: #4285F4;
    --top-button-selected: #4285F4;
    --text-color: black;
    --background: white;
    --primary: black;
    --selected-color: gainsboro;
    --border-color: #dbdbdb;
    font-family: sans-serif;
}

:root {
    --accent: #4285F4;
    --top-button-selected: #4285F4;
    --text-color: #dfdfdf;
    --background: #14161c;
    --primary: black;
    --selected-color: #3f475c;
    --border-color: #282d3b;
    font-family: sans-serif;
}

p {
    font-size: larger;
}

/* --background: rgb(36, 39, 46); */