.info-card {
    flex: 1;
    min-width: 300px;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* .info-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
} */

.info-card h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: #2d3436;
}

.info-card p {
    color: #636e72;
    margin-bottom: 20px;
}

.card-list {
    margin-bottom: 25px;
}

.card-list li {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    color: #636e72;
}

.card-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    color: #4285F4;
    transition: color 0.2s ease;
}

.card-link:hover {
    color: #1e88e5;
}


.card-blue {
    border-left: 4px solid #4285F4;
    background-color: #F1F8FF;
}

.card-green {
    border-left: 4px solid #34A853;
    background-color: #F1FFF6;
}

.card-purple {
    border-left: 4px solid #9C27B0;
    background-color: #FFF5FF;
}

.card-orange {
    border-left: 4px solid #E67C00;
    background-color: #FFF9ED;
}

.card-red {
    border-left: 4px solid #D32F2F;
    background-color: #FFEBEE;
}

.card-yellow {
    border-left: 4px solid #FFC107;
    background-color: #FFFDE7;
}

.card-gradient-orange-red {
    border-left: 4px solid #FF5722;
    background: linear-gradient(135deg, #FFF3F0 0%, #FFF3F3 100%);
}

.card-gradient-blue-green {
    border-left: 4px solid #81D4FA;
    background: linear-gradient(135deg, #E1F5FE 0%, #E8F5E9 100%);
}

.card-gradient-pink-purple {
    border-left: 4px solid #CE93D8;
    background: linear-gradient(135deg, #FCE4EC 0%, #F3E5F5 100%);
}


.card-macaron-pink {
    border-left: 4px solid #F8BBD0;
    background-color: #FFF0F6;
}

.card-macaron-teal {
    border-left: 4px solid #80CBC4;
    background-color: #E0F7F6;
}