/* Styles for Sparx */

.sparx-screenshot {
    display: block;
    padding: 0;
    margin: 50px auto;
    width: 60vw;
    max-width: 900px;
    height: auto;
    background: none;
    box-shadow: none;
    border: none;
    scale: 1;
    margin-bottom: 50px;
}