/* This is the global CSS styling sheet used by all WIKI Pages */

* {
    overscroll-behavior: none;
}

/* Position of wiki */
.wiki-pages-div {
    margin-left: 20vw;
    /* overflow: hidden; */
    /* overscroll-behavior-x: none; */
    /* overscroll-behavior-y: none; */
    padding: 20px;
    /* margin-bottom: 20px; */
    /* margin-bottom: 20px; */
    border: none;
    height: calc(100vh - 63px - 20px);
    width: calc(100vw - 20vw - 60px);
    scroll-behavior: smooth;
}

.nav-label {
    background-color: var(--selected-color);
    display: inline;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: var(--text-color);

}

.nav-icon {
    padding-left: 10px;
    padding-right: 10px;

}

/* Main title */
#title {
    font-weight: normal;
    margin-bottom: 15px;
}

#subtitle {
    font-size: larger;
    margin-bottom: 40px;
}

.spacer-5 {
    height: 5px;
}

.spacer-20 {
    height: 20px;
}

.spacer-30 {
    height: 30px;
}

.spacer-40 {
    height: 40px;
}

.spacer-50 {
    height: 50px;
}

.paragraph-title {
    margin-bottom: 20px;
}

/* p {
    margin-bottom: 10px;
} */


img {
    border-radius: 7px;
}

body,
#root {
    width: 100vw;
    overflow-x: hidden;
}

ul {
    margin-left: 20px;
}

a {
    color: var(--text-color);
}