.header-navigation>* {
    color: #1b236c;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(201, 230, 236);
    color: #1b236c;
    text-align: center;
    font-family: serif;
}



header {

    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    /* padding-left: 15px; */
    width: 100vw;
    background-color: var(--background);
    border-color: rgb(219, 219, 219);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    height: 40px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.02);
    z-index: 999;





}

.header-navigation {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    padding-right: 50px;
}

.header-navigation>* {

    /* background-color: gainsboro;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px; */
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.header-title {
    color: var(--text-color);
    padding-left: 10px;

}

.cast-logo-header {
    height: 30px;
    width: auto;
    display: fixed;
    padding: none;
    margin: none;
}

footer {

    text-align: center;
    padding: 20px;
    margin-left: 20vw;
    width: calc(100vw - 20vw - 40px);
    background-color: var(--selected-color);
    border-color: rgb(219, 219, 219);
    border-width: 0px 0px 1px 0px;
    border-style: solid;

    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.02);
    z-index: 999;
    bottom: 0;




}

.footer-title {
    color: var(--text-color);
    font-family: cursive
}