.header-navigation {
    display: flex;
    flex-direction: row;
}

.header-navigation>* {
    color: #000000;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    font-size: larger;
    border-radius: 20px;
    transition: 0.1s ease-in;
    text-decoration: none;
}

.header-navigation>*:hover {
    background-color: gainsboro;

}



/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: fixed;
    background-color: rgb(201, 230, 236);
    color: #1b236c;
    text-align: center;
    font-family: serif;
} */

header {
    overflow: hidden;
    display: flex;
    position: fixed;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    /* padding-left: 15px; */
    width: 100vw;
    background-color: var(--background);
    border-color: rgb(219, 219, 219);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    height: 40px;
    box-shadow: 0px 1px 18px rgba(0, 0, 0, 0.02);
    z-index: 999;

}

.header-navigation {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: auto;
    padding-right: 50px;
}

.header-navigation>* {

    /* background-color: gainsboro;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px; */
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
}

.header-title {
    color: var(--text-color);
    padding-left: 10px;
}

.cast-logo-header {
    height: 30px;
    width: auto;
    display: fixed;
    padding: none;
    margin: none;
}

footer {
    position: none;
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(201, 230, 236);
    color: #1b236c;
    text-align: center;
    font-family: serif;
}



::-webkit-scrollbar {
    display: block;
    width: 7px;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: gainsboro;
    border-radius: 20px;
    border-right: none;
    border-left: none;
    transition: background-color 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {

    background-color: rgb(168, 168, 168);
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 5px;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 5px;
}