* {
    margin: 0;
}

:root {
    --primary: #0079BC;
    --secoundary: white;
    --background: rgb(201, 230, 236);
    font-family: sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    padding: 15px;
    background-color: var(--background);
}

.header-logo {
    height: 60px;
    padding-right: 20px;
}

.header-title {
    color: #1b236c;
}

.header-navigation > * {
    color: #1b236c;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: larger;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(201, 230, 236);
  color: #1b236c;
  text-align: center;
  font-family: serif; 
}