.flashcards-container {
    line-height: 2;
    padding: 30px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
}

.left-panel {
    min-width: 70%;
    background-color: #f00;
}

.left-panel-header {
    /* display: flex; */
    /* flex-direction: row; */
}

.right-panel {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.question-input {
    height: 25%;
}

.answer-input {
    height: 75%;
}

.left-panel-header-buttons {
    align-self: right;
}