/* .flashcards-container {
    line-height: 2;
    padding: 30px;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
}

.left-panel {
    min-width: 70%;
}

.left-panel-header {
    height: 50px;
    display: flex;
    flex-direction: row;
}

.right-panel {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.question-input {
    height: 25%;
}

.answer-input {
    height: 75%;
}

.left-panel-header-buttons {
    align-self: right;
} */

/* .flashcards-container {
    display: fixed;
    margin-top: 71px;
} */
/* 
.flashcards-header {
    display: flex;
    position: absolute;
    flex-direction: row;
    /* align-items: baseline; */
/* background-color: var(--selected-color);
width: 100vw;
height: 71px;
margin-top: 8px;

align-items: center;
} */


/* .flashcards-title {
    padding-left: 20px;
}

.flashcards-header-button-div {
    display: flex;
    flex-direction: row;


    margin-left: 40vw;
    /* margin-top: 20px; */
/* gap: 40px; */

main {
    padding-top: 63px;
    /* padding-bottom: 20px; */

}

.flashcards-title {
    padding-bottom: 20px;
}

.flashcard-left-panel {
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 8px;


    display: flex;
    position: fixed;
    overflow-y: scroll;
    flex-direction: column;
    max-height: 100vh;
    width: 20vw;
    scrollbar-width: none;
    border-color: var(--border-color);
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    height: calc(100vh - 93px);
    /* height: 100vh; */
    margin-left: 0px;
}




.flashcard-left-panel-content-div {
    margin: 15px;

}

.flashcards-buttons-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    border-style: solid;
    border-color: var(--accent);
    border-width: 3px;
    padding: 10px;
    border-radius: 10px;

}




#file-input {
    display: none;
}

#file-input-label {

    border-style: solid;
    border-width: 1px;
    border-color: var(--blue-accent);
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;

    font-size: large;
    text-align: center;
    color: var(--text-color);
}

#file-input-label:hover {
    background-color: var(--blue-background);
}

.flashcards-buttons {
    border-style: solid;
    border-width: 1px;
    border-color: var(--border-color);
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;

    font-size: large;
    color: var(--text-color);
    transition: scale 0.1s ease, background-color 0.3s ease;
}

.flashcards-buttons:active {
    scale: 0.95;
}



.flashcards-left-panel-h3 {
    padding-bottom: 5px;
}


/* Input region */

.flashcards-input-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: auto;
    border-style: solid;
    border-color: green;
    border-width: 3px;
    /* background-color: var(--green-background); */
    padding: 10px;
    border-radius: 10px;

}

.spacer {
    height: 50px;

}

.flashcards-textarea {
    border-style: solid;
    border-width: 1px;
    border-color: green;
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;

    font-size: large;
    color: var(--text-color);
    height: 50px;
    resize: none;


}

.flashcards-textarea:focus {
    border-color: greenyellow;
    outline: transparent;
}

.green-button {
    border-color: green;
    /* background-color: var(--green-background); */
}

.green-button:hover {
    border-color: green;
    background-color: var(--green-background);
}

.green-button:focus {
    outline: none;
    border-color: greenyellow;
    background-color: var(--green-background);
}

.blue-button {
    border-color: var(--blue-accent);
    /* background-color: var(--green-background); */
}

.blue-button:hover {
    background-color: var(--blue-background);
}



.question-input {
    height: 200px;
}

.answer-input {
    height: 120px;
}