.notification-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 70px);
    width: 100vw;
    max-width: none;
    margin: 0 auto;
    /* Center horizontally if needed */
    box-sizing: border-box;
}

.title {
    font-family: 'Fira Code', monospace;
    /* position: fixed; */
}

.error-icon {
    height: 20vh;
    width: auto;

}

.four0four {
    font-size: 100pt;
    font-family: 'Fira Code', monospace;
}

.rescue-button {
    text-decoration: none;
    color: black;
    background-color: gainsboro;
    margin: 30px;
    padding: 7px;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: x-large;
    box-shadow: 1px 1px 1px black;

}

.rescue-button:hover {
    box-shadow: 1px 1px 3px black;
}

.rescue-button:active {
    box-shadow: 1px 1px 5px black;
}


/* .escape-icon {

} */