main {
    padding-top: 63px;

}

.toc-iframe {
    position: fixed;
    border: none;
    height: calc(100vh - 63px);
    width: 20vw;
    overflow: auto;

    scrollbar-width: 2px;
    /* z-index: 999; */
}



.text-iframe {
    margin-left: 20vw;
    padding: 20px;
    border: none;
    height: calc(100vh - 63px);
    width: calc(100vw - 20vw - 60px);
}